  .about {
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(41, 39, 39, 0.1);
    padding-right: 15%;
    padding-left: 15%;
    width: 100%;
    height: 320px;
  }

  .text-container {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.8;
    color: #333;
    margin: 0;
  }

  .image-container {
    padding-left: 13%
  }
  
  .image {
    max-width: 100%;
    max-height: 200px;
    border-radius: 5px;
  }
  