.navbar {
  width: 950px;
  margin: 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  height: 120px;
  background-color: rgb(255, 255, 255);
}

.logo-container {
  flex: 1;
  padding-left: 10%;
}

.img {
  width: 40%;
  height: 25%;
  border-radius: 45%;
}

.txt-container {
  display: flex;
  column-gap: 10px;
  padding-right: 10%;
}
  