body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #bad5ce;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primary-button {
  background-color: #018362;
  color: white;
}

.primary-button:hover {
  background-color: #109e7a !important;
  color: white !important;
  outline-color: white !important;
}